In [1]:
import pandas as pd
import numpy as npy
pd.set_option('display.max_columns', 20)
pd.set_option('display.width', 1000)
import datetime
import random
import sqlite3
from sqlalchemy import create_engine
import pymysql

conn = sqlite3.connect('pb_assets/pb_lottery_data.db')

cursor = conn.cursor()



sqlEngine = create_engine('mysql+pymysql://root:Ned$h0wB0omerang@127.0.0.1/Lotteries', pool_recycle=3600)

db_conn = sqlEngine.connect()

In [2]:
pb_draw_file = ("pb_assets/powerball.csv")
pb_weather_file = ("pb_assets/pb_weather.csv")

pb_draw_df = pd.read_csv(pb_draw_file, engine='python', parse_dates= {"draw_date" : ["year","month","day"]})
pb_weather_df = pd.read_csv(pb_weather_file, engine='python')

pb_weather_df['Date'] = pd.to_datetime(pb_weather_df['DATE_TIME']).dt.date
pb_weather_df['Time'] = pd.to_datetime(pb_weather_df['DATE_TIME']).dt.strftime('%H%M%S')
pb_weather_df = pb_weather_df.dropna()
#pb_weather_df = pb_weather_df.astype({'DPTemp':'int', 'DBTemp':'int', 'RHumid':'int'})

pd.to_datetime(pb_draw_df['draw_date'], errors='coerce')
pb_draw_df['month'] = pd.DatetimeIndex(pb_draw_df['draw_date']).month_name()
pb_draw_df['day_name'] = pd.DatetimeIndex(pb_draw_df['draw_date']).day_name()
pb_draw_df['day_num'] = pd.DatetimeIndex(pb_draw_df['draw_date']).dayofweek
pb_draw_df['day_date'] = pd.DatetimeIndex(pb_draw_df['draw_date']).day
pb_draw_df['draw_time'] = '230000'

#pb_draw_df.to_sql('pb_draw', conn, if_exists='append', index = False)
pb_weather_df.to_sql('pb_weather', db_conn, if_exists='append', index = False)

print(pb_draw_df)
pb_weather_df.head(50)

      draw_date       game  num_1  num_2  num_3  num_4  num_5  pb  multi     month   day_name  day_num  day_date draw_time
0    2010-02-03  Powerball     37     52     22     36     17  24    2.0  February  Wednesday        2         3    230000
1    2010-02-06  Powerball     22     54     52     14     59   4    3.0  February   Saturday        5         6    230000
2    2010-02-10  Powerball     29      8     37     38      5  34    5.0  February  Wednesday        2        10    230000
3    2010-02-13  Powerball     14     10     40     51     30   1    4.0  February   Saturday        5        13    230000
4    2010-02-17  Powerball     36      7     26      8     19  15    3.0  February  Wednesday        2        17    230000
...         ...        ...    ...    ...    ...    ...    ...  ..    ...       ...        ...      ...       ...       ...
1478 2023-05-20  Powerball     23     63     32     38     17  23    2.0       May   Saturday        5        20    230000
1479 2023-05-22  Powerball     38     52     48      9     68  25    4.0       May     Monday        0        22    230000
1480 2023-05-24  Powerball     58     44     21     50     12  26    3.0       May  Wednesday        2        24    230000
1481 2023-05-27  Powerball     48     39     56     38     24   4    2.0       May   Saturday        5        27    230000
1482 2023-05-29  Powerball     64     35     21     62     33  24    2.0       May     Monday        0        29    230000

[1483 rows x 14 columns]

              DATE_TIME DPTemp DBTemp Precip RHumid        Date    Time
0   2014-03-13T00:53:00     33     51   0.00     50  2014-03-13  005300
2   2014-03-13T01:53:00     31     49   0.00     50  2014-03-13  015300
3   2014-03-13T02:53:00     31     48   0.00     52  2014-03-13  025300
4   2014-03-13T03:53:00     29     47   0.00     50  2014-03-13  035300
5   2014-03-13T04:53:00     28     46   0.00     50  2014-03-13  045300
6   2014-03-13T05:53:00     28     44   0.00     53  2014-03-13  055300
7   2014-03-13T06:53:00     25     44   0.00     47  2014-03-13  065300
9   2014-03-13T07:53:00     25     46   0.00     44  2014-03-13  075300
10  2014-03-13T08:53:00     22     49   0.00     35  2014-03-13  085300
11  2014-03-13T09:53:00     20     52   0.00     28  2014-03-13  095300
12  2014-03-13T10:53:00     20     54   0.00     26  2014-03-13  105300
13  2014-03-13T11:53:00     21     57   0.00     25  2014-03-13  115300
14  2014-03-13T12:53:00     21     59   0.00     23  2014-03-13  125300
16  2014-03-13T13:53:00     21     62   0.00     21  2014-03-13  135300
17  2014-03-13T14:53:00     22     63   0.00     21  2014-03-13  145300
18  2014-03-13T15:53:00     22     64   0.00     20  2014-03-13  155300
19  2014-03-13T16:53:00     22     64   0.00     20  2014-03-13  165300
20  2014-03-13T17:53:00     23     63   0.00     22  2014-03-13  175300
21  2014-03-13T18:53:00     25     59   0.00     27  2014-03-13  185300
23  2014-03-13T19:53:00     33     49   0.00     55  2014-03-13  195300
24  2014-03-13T20:53:00     33     45   0.00     63  2014-03-13  205300
25  2014-03-13T21:53:00     32     42   0.00     68  2014-03-13  215300
26  2014-03-13T22:53:00     33     41   0.00     73  2014-03-13  225300
27  2014-03-13T23:53:00     32     38   0.00     79  2014-03-13  235300
29  2014-03-14T00:53:00     31     37   0.00     79  2014-03-14  005300
31  2014-03-14T01:53:00     31     36   0.00     82  2014-03-14  015300
32  2014-03-14T02:53:00     31     35   0.00     85  2014-03-14  025300
33  2014-03-14T03:53:00     29     34   0.00     82  2014-03-14  035300
34  2014-03-14T04:53:00     30     35   0.00     82  2014-03-14  045300
35  2014-03-14T05:53:00     30     35   0.00     82  2014-03-14  055300
36  2014-03-14T06:53:00     28     33   0.00     82  2014-03-14  065300
38  2014-03-14T07:53:00     32     40   0.00     73  2014-03-14  075300
39  2014-03-14T08:53:00     26     54   0.00     34  2014-03-14  085300
40  2014-03-14T09:53:00     25     59   0.00     27  2014-03-14  095300
41  2014-03-14T10:53:00     22     62   0.00     21  2014-03-14  105300
42  2014-03-14T11:53:00     22     65   0.00     19  2014-03-14  115300
43  2014-03-14T12:53:00     23     67   0.00     19  2014-03-14  125300
45  2014-03-14T13:53:00     26     69   0.00     20  2014-03-14  135300
46  2014-03-14T14:53:00     24     68   0.00     19  2014-03-14  145300
47  2014-03-14T15:53:00     23     68   0.00     18  2014-03-14  155300
48  2014-03-14T16:53:00     30     67   0.00     25  2014-03-14  165300
49  2014-03-14T17:53:00     27     66   0.00     23  2014-03-14  175300
50  2014-03-14T18:53:00     30     60   0.00     32  2014-03-14  185300
52  2014-03-14T19:53:00     34     52   0.00     50  2014-03-14  195300
53  2014-03-14T20:53:00     34     48   0.00     58  2014-03-14  205300
54  2014-03-14T21:53:00     34     46   0.00     63  2014-03-14  215300
55  2014-03-14T22:53:00     36     45   0.00     71  2014-03-14  225300
56  2014-03-14T23:53:00     33     41   0.00     73  2014-03-14  235300
58  2014-03-15T00:53:00     35     44   0.00     71  2014-03-15  005300
60  2014-03-15T01:53:00     33     39   0.00     79  2014-03-15  015300

In [10]:
weather_filter_df = pb_weather_df.query('DBTemp == 51 & RHumid == 50')

print(weather_filter_df)

weather_date_unique = weather_filter_df['Date'].unique()
weather_date_unique_df = pd.DataFrame(weather_date_unique, columns=['date_time'])
weather_date_unique_df['date_time'] = pd.to_datetime(weather_date_unique_df['date_time'])

weather_date_unique_df['time_only'] = pd.to_datetime(weather_date_unique_df['date_time']).dt.time
weather_date_unique_df['draw_date'] = pd.to_datetime(weather_date_unique_df['date_time']).dt.date
weather_date_unique_df['draw_date'] = pd.to_datetime(weather_date_unique_df['draw_date'])
weather_date_unique_df['draw_date'] = weather_date_unique_df['draw_date'].dt.strftime('%m/%d/%Y')

dates_list = weather_date_unique_df['draw_date'].values.tolist()

dates_list

Empty DataFrame
Columns: [DATE_TIME, DPTemp, DBTemp, Precip, RHumid, Date, Time]
Index: []

[]